What is CSV?

Comma Seperated Values

In [2]:
data = [
    ['Name', 'Age', 'Occupation'],
    ['Alice', 30, 'Engineer'],
    ['Bob', 25, 'Designer'],
    ['Charlie', 35, 'Teacher']
]

Pandas

Pandas is a powerful library in Python for data analysis and manipulation. It is particularly useful for
working with tabular data, like CSV files, because it provides easy-to-use methods for reading, writing,
and analyzing data.

pip install pandas

In [20]:
import pandas as pd

Student={
    "Name":["Shreya", "Priyansh"],
    "Age":[15,50],
    "Marks":[45,67]
}

Student_frame=pd.DataFrame(Student)

print(Student_frame)

       Name  Age  Marks
0    Shreya   15     45
1  Priyansh   50     67

In [21]:
#how to read and write to a csv file
import pandas as pd
df=pd.read_csv("C:\\Users\\mehna\\OneDrive\\Desktop\\Seminar\\Pandas\\layoffs.csv")

print(df.head(3))

print(df.info())


Student={
    "Name":["Shreya", "Priyansh"],
    "Age":[15,50],
    "Marks":[45,67]
}

Student_frame=pd.DataFrame(Student)

Student_frame.to_csv("Student_data.csv", index=False)

     company       location industry  total_laid_off  percentage_laid_off  \
0  Atlassian         Sydney    Other           500.0                 0.05
1   SiriusXM  New York City    Media           475.0                 0.08
2     Alerzo         Ibadan   Retail           400.0                  NaN

       date     stage        country  funds_raised_millions
0  3/6/2023  Post-IPO      Australia                  210.0
1  3/6/2023  Post-IPO  United States                  525.0
2  3/6/2023  Series B        Nigeria                   16.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2361 entries, 0 to 2360
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company                2361 non-null   object
 1   location               2361 non-null   object
 2   industry               2357 non-null   object
 3   total_laid_off         1621 non-null   float64
 4   percentage_laid_off    1576 non-null   float64
 5   date                   2360 non-null   object
 6   stage                  2355 non-null   object
 7   country                2361 non-null   object
 8   funds_raised_millions  2152 non-null   float64
dtypes: float64(3), object(6)
memory usage: 166.1+ KB
None

How to access particular columns

In [32]:
import pandas as pd

Student={
    "Name":["Shreya", "Priyansh", "Priya", "Saurabh"],
    "Age":[15,50, 20, 34,],
    "Marks":[45,67, 89, 57]
    
}

df=pd.DataFrame(Student)

print(df.iloc[1,2]) #row and then column

y=df['Marks']
print(y)

#how to acess data based on a condition

#marks should be more than 50

df1=df[(df['Marks']>50) & (df['Age']<50)] 

print(df1.head())

67
0    45
1    67
2    89
3    57
Name: Marks, dtype: int64
      Name  Age  Marks
2    Priya   20     89
3  Saurabh   34     57